<% @posts.each do |post| %>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img src="<%= post.image.url %>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.body %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
<% end %>
