<div class="container mt-5">
    <div class="row" id="posts">
      <%= render @posts %>
    </div>
  <%= link_to "회원가입", new_user_registration_path, class: "btn btn-small" %>
</div>
<%= will_paginate @posts %>
